<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bonbon-heading">Create or edit a Bonbon</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_marque">Marque</label>
                    <input type="text" class="form-control" name="marque" id="field_marque"
                           formControlName="marque"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gtin">Gtin</label>
                    <input type="text" class="form-control" name="gtin" id="field_gtin"
                           formControlName="gtin"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mangeur">Mangeur</label>
                    <select class="form-control" id="field_mangeur" name="mangeur" formControlName="mangeurId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mangeurOption.id" *ngFor="let mangeurOption of mangeurs; trackBy: trackById">{{ mangeurOption.prenom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
