<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bonbon">
            <h2><span>Bonbon</span> {{ bonbon.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Marque</span></dt>
                <dd>
                    <span>{{ bonbon.marque }}</span>
                </dd>
                <dt><span>Gtin</span></dt>
                <dd>
                    <span>{{ bonbon.gtin }}</span>
                </dd>
                <dt><span>Mangeur</span></dt>
                <dd>
                    <div *ngIf="bonbon.mangeurId">
                        <a [routerLink]="['/mangeur', bonbon.mangeurId, 'view']">{{ bonbon.mangeurPrenom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bonbon', bonbon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
