<div>
    <h2 id="page-heading">
        <span>Bonbons</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bonbon" [routerLink]="['/bonbon/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Bonbon
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bonbons?.length === 0">
        <span>No bonbons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bonbons && bonbons.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Marque</span></th>
                    <th scope="col" ><span>Gtin</span></th>
                    <th scope="col" ><span>Mangeur</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bonbon of bonbons ;trackBy: trackId">
                    <td><a [routerLink]="['/bonbon', bonbon.id, 'view']">{{ bonbon.id }}</a></td>
                    <td>{{ bonbon.marque }}</td>
                    <td>{{ bonbon.gtin }}</td>
                    <td>
                        <div *ngIf="bonbon.mangeurId">
                            <a [routerLink]="['/mangeur', bonbon.mangeurId , 'view']" >{{ bonbon.mangeurPrenom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bonbon', bonbon.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bonbon', bonbon.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bonbon)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
