<div>
    <h2 id="page-heading">
        <span>Mangeurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mangeur" [routerLink]="['/mangeur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Mangeur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mangeurs?.length === 0">
        <span>No mangeurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mangeurs && mangeurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Prenom</span></th>
                    <th scope="col" ><span>Nom</span></th>
                    <th scope="col" ><span>Est Radin</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mangeur of mangeurs ;trackBy: trackId">
                    <td><a [routerLink]="['/mangeur', mangeur.id, 'view']">{{ mangeur.id }}</a></td>
                    <td>{{ mangeur.prenom }}</td>
                    <td>{{ mangeur.nom }}</td>
                    <td>{{ mangeur.estRadin }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mangeur', mangeur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mangeur', mangeur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mangeur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
