<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mangeur">
            <h2><span>Mangeur</span> {{ mangeur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{ mangeur.prenom }}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ mangeur.nom }}</span>
                </dd>
                <dt><span>Est Radin</span></dt>
                <dd>
                    <span>{{ mangeur.estRadin }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mangeur', mangeur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
